@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin Paneel";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
<h1>@ViewData["Title"]</h1>
<h3 class="titlee3">Verlofaanvragen</h3>
<h3 class="titlee3">Verlofplanning</h3>
<h3 class="titlee3">Meldingen</h3>

